<div class="publications">
    <div class="notes"> <code style="font-size: 18px;">*</code><code>: Equal contribution</code>, <code
            style="font-size: 20px;">&#x2709;</code><code>: Corresponding author</code></div>

    {% assign years = site.publications | group_by: "year" %}
    {% assign yearsSorted = years | sort: "name" %}
    {% for y in yearsSorted reversed %}
    {% assign yearConfSorted = y.items | sort: "abbr" | reverse %}
    {% if yearConfSorted != empty %}
    <div class="bibliography">
        <h4>{{y.name}}</h4>
        <ol class="bibliography">
            {% for item in yearConfSorted %}
            <li>{{item}}</li>
            {% endfor %}
        </ol>
    </div>
    {% endif %}
    {% endfor %}
</div>

<div class="modal fade" id="bibtex-modal" tabindex="-1" role="dialog" aria-labelledby="bibtex-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bibtex-modal-title">BibTeX</h5>
                <button id="copy-btn" class="btn copy-btn btn-outline-secondary btn-sm"
                    data-clipboard-target="#bibtex-content" type="button">Copy</button>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <pre id='bibtex-content'></pre>
            </div>
        </div>
    </div>
</div>