<div class="publications">
  <p class="notes"><code>*</code> equal contribution, <code>&#x2709;</code> corresponding author</p>

  {% assign all_publications = site.publications | where_exp: "item", "item.back_matter != true" | sort: "priority" %}
  {% assign years = all_publications | group_by: "year" %}
  {% assign yearsSorted = years | sort: "name" | reverse %}
  {% for y in yearsSorted %}
    {% assign yearConfSorted = y.items | sort: "priority" %}
    {% if yearConfSorted != empty %}
    <section class="publication-year">
      <h2>{{ y.name }}</h2>
      <ol class="bibliography publication-list">
        {% for item in yearConfSorted %}
          <li>{{ item }}</li>
        {% endfor %}
      </ol>
    </section>
    {% endif %}
  {% endfor %}

  {% assign back_publications = site.publications | where: "back_matter", true | sort: "back_priority" %}
  {% if back_publications != empty %}
  <section class="publication-year publication-back-matter">
    <h2>Additional Manuscripts</h2>
    <ol class="bibliography publication-list">
      {% for item in back_publications %}
        <li>{{ item }}</li>
      {% endfor %}
    </ol>
  </section>
  {% endif %}
</div>

<div class="modal fade" id="bibtex-modal" tabindex="-1" role="dialog" aria-labelledby="bibtex-modal" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="bibtex-modal-title">BibTeX</h5>
        <button id="copy-btn" class="btn copy-btn btn-outline-secondary btn-sm"
          data-clipboard-target="#bibtex-content" type="button">Copy</button>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <pre id="bibtex-content"></pre>
      </div>
    </div>
  </div>
</div>
