<div class="publications">
  <div class="alert alert-primary"><a href="{{ 'publication' | relative_url }}">SEE ALL PUBLICATIONS <i
        class="fas fa-angle-right" aria-hidden="true"></i></a></div>
  <div class="notes"> <code style="font-size: 18px;">*</code><code>: Equal contribution</code>, <code
      style="font-size: 20px;">&#x2709;</code><code>: Corresponding author</code></div>

  {% assign selected_publications = site.publications | where: "selected", "true" | group_by: "year" | sort: "name" %}
  <div class="bibliography">
    <ol class="bibliography">
      {% for y in selected_publications reversed %}
      {% assign yearConfSorted = y.items | sort: "abbr" | reverse %}
      {% if yearConfSorted != empty %}
      {% for item in yearConfSorted %}
      <li>{{item}}</li>
      {% endfor %}
      {% endif %}
      {% endfor %}
    </ol>
  </div>

</div>

<div class="modal fade" id="bibtex-modal" tabindex="-1" role="dialog" aria-labelledby="bibtex-modal" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="bibtex-modal-title">BibTeX</h5>
        <button id="copy-btn" class="btn copy-btn btn-outline-secondary btn-sm" data-clipboard-target="#bibtex-content"
          type="button">Copy</button>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <pre id='bibtex-content'></pre>
      </div>
    </div>
  </div>
</div>